.restro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  gap: 12px;
}

.restro img {
  width: 200px;
  height: 200px;
}

@media (max-width: 768px) {
  .restro{
    /* overflow-x: scroll;
    overflow-y: hidden; */
    display: grid;
    grid-template-columns: auto auto;
  }
}
