body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payText {
  margin-top: 50px;
}

.paymentContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.paymentMethods {
  width: 60%;
}

.paymentMethod {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid #ffe8ce;
  border-radius: 100px;
  margin-bottom: 10px;
  cursor: pointer;
}

.paymentMethod:hover {
  border-color: #ff7f00;
}

.paymentMethod input {
  margin-left: 300px;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #ff7f00;
  margin-right: 10px;
}

.details {
  flex-grow: 1;
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.balance {
  font-size: 12px;
  color: #999;
}

.arrow {
  font-size: 16px;
  color: #ff7f00;
}

.addCard {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
}

.addCard:hover {
  border-color: #ff7f00;
}

.addIcon {
  font-size: 24px;
  color: #ff7f00;
  margin-right: 10px;
}

.paymentSummary {
  width: 35%;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 10%;
}

.amount {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  color: #83858a;
}

.amount span {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.proceedButton {
  width: 100%;
  background-color: #fc8a06;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.proceedButton:hover {
  background-color: #e66b00;
}

.divider {
  border-top: 2px solid #240707;
  margin: 10px 0;
}

.cardInput {
  flex-grow: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addCardButton {
  padding: 8px 12px;
  background-color: #ff7f00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addCardButton:hover {
  background-color: #e66b00;
}
